.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 61px;
    border: 1px solid #cfadac;
    border-radius: 6px;
    box-shadow: 0px 20px 25px -18px rgba(150, 79, 76, 0.3);
    font-family: "Poppins", serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #967675;
    background-color: #fff;
    transition-property: box-shadow, border, color;
    transition: 0.3s ease-in-out;

    &:hover {
        border-color: #8a6968;
        box-shadow: 0px 20px 30px -18px rgba(150, 79, 76, 0.5);
        color: #8a6968;
        transition: 0.3s ease-in-out;
    }

    @media screen and (max-width: 768px) {
        width: 300px;
        height: 75px;
        font-size: 18px;
    }
}
