.header {
    padding: 29px 0 24px;
    @media screen and (max-width: 768px) {
        padding: 23px 22px 2px;
    }

    &__logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 22px;

        @media screen and (max-width: 768px) {
            flex-direction: row;
        }
    }

    &__logo {
        margin-bottom: 22px;

        @media screen and (max-width: 768px) {
            margin-bottom: 0;
            margin-right: 7px;
        }
    }

    &__title {
        font-family: "Playfair Display", serif;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        @media screen and (max-width: 768px) {
            font-size: 22px;
            line-height: 16px;
            letter-spacing: 0;
            word-spacing: -3.5px;
        }
    }

    &__nav {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}

.nav-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 5.62%;
    justify-content: center;
    list-style: none;
    color: $primary-dark;
    &__item {
        & > a {
            @extend .paragraph_default;
            line-height: 2rem;
            font-weight: 400;
        }
    }
}
