.header {
    padding: 29px 0 24px;

    &__logo-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 22px;
    }

    &__logo {
        margin-bottom: 22px;
    }

    &__burger {
        display: none;
    }

    &__title {
        letter-spacing: 1.2px;
        text-transform: uppercase;

        font-family: "Playfair Display", serif;
        font-size: 40px;
        line-height: 40px;
    }
}

.nav-list {
    display: grid;
    justify-content: center;
    list-style: none;
    color: $primary-dark;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 65px;
    &__item {
        & > a {
            font-weight: 400;
            line-height: 2rem;

            @extend .paragraph_default;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 23px 17px 2px;

        &__container {
            display: flex;
            justify-content: space-between;
        }

        &__logo-container {
            flex-direction: row;
        }

        &__logo {
            margin-right: 7px;
            margin-bottom: 0;
        }

        &__title {
            letter-spacing: 0;
            word-spacing: -3.5px;

            font-size: 22px;
            line-height: 16px;
        }

        &__burger {
            display: block;

            margin-top: -4px;
        }

        &__nav {
            display: none;
        }
    }
}
